<!DOCTYPE html>
<html>
<head> 
<title>Register - Sign In</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/signIn.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/signIn.js" defer></script>
</head>

<body>
<div id="main" class="main">
		<div id="error" <% if (!locals.errorMessage || (locals.errorMessage === "")) { %> class="hidden" <% } %>>
			<h4 id="errorMessage" class="error-message">
				<% if (locals.errorMessage && (locals.errorMessage !== "")) { %>
					<%= locals.errorMessage %>
				<% } %>
			</h4>
		</div>
	<form action="/action_page.php" method="post" onsubmit="return FormValidation()">
		<label for="employee_id">Employee ID:</label><br>
		<input type="number" id="employee_id" name="employee_id" value="000000000"><br>
		<label for="password1">Password:</label><br>
		<input type="password" id="password1" name="password1" value="clever password"><br><br>
		<input type = "submit" value="Sign In">
	</form>
</div>
</body>

<script>
function FormValidation(){
	// Stores Values into Variables
	var employee_id = document.getElementById("employee_id").value;
	var password1 = document.getElementById("password1").value;
	//Condition
	if(employee_id != '' && password1 != ''){
		return true;
	}
	else{
		alert("*ALERT All fields are required*");
		return false;
	}
}
</script>

</html>